/* logo */
header img {
    border-color: black;
    width: 40%;
   
}
header {
    text-align: center;
    padding:2em 3em;
    background-color: black;
    margin: 0;

}
/* impostazioni body */
body {
    font-family: 'Open Sans', sans-serif;
    color:  #393d41;
    font-size: 1.2rem;
    line-height: 1.65;
}
/* impostazione headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.5;
    font-weight:600
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
/* impostazioni intro */
#intro {
    text-align: center;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding: 5em 3em;
}

#intro p {
    margin-bottom: 1em ;
}
#intro button {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    background-color: #f04c2f;
    color: white;
    padding: 1.5em 3.5em;
    margin-top: 2em;
    border-radius: 0.5em;
    border-style: none;

}
/* impostazioni sec1 */
#sec1 {
    text-align: center;
    margin: 2.5em 2.5em;

}
#sec1 h4 {
    margin: 1em 0;
}
#sec1 p {
    margin: 1.2em 0.5em;
}
#sec1 img {
    border-radius: 30em;
    width: 80%;
    margin-bottom: 1em;
}

/* impostazioni sec2 */

#sec2 {
    background-color: #e22d0e;
    color: white;
    text-align: center;
    padding: 3em 3em;
}
#sec2 h3 {
    color: white;
    font-size: 2em;
    margin: 0.7em 0em;
    font-weight: 550;
}

#sec2 p:first-of-type {
    font-style: italic;
    margin-bottom: 2em;
}
#sec2 h5 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1.4em;

}

/* impostazione sec3 */

#sec3 {
    margin: 3em 0;
}

.schede {
    text-align: center;
    margin: 1em 2em;
    padding-bottom: 2em;
    border:1px solid #dee1e3
}

.schede img {
    max-width: 100%;
    max-height: 100%;
    
}

#sec3 .text {
    margin: 1em 1.5em;

}
.schede h4 {
    margin:1em 0 ;
}

/* impostazioni footer */
footer {
    background-color:#25a2c3 ;
    color: #c8e7f0;
    text-align: center;
    font-weight:50;
    padding: 1.5em 1.5em;
    
   
}
footer i {
    color: white;
    margin: 1%;
}
footer h6 {
    color: white;
    font-size: 2em;
    margin: 0.7em;

}
footer a {
    color: #c8e7f0;
}
address {
    display: inline;
}
footer #info {
    margin-bottom: 1.5em;
}
footer hr {
    margin: 2.5em 6em;
    border: solid 0.5px;
}