
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
}
/* HEADER */

header nav {
  display: flex;
  flex-direction: column;
  
}
header ul {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

header li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: #ffdf80;
  color: #843711;
  padding: 0.4em 0.5em;
  border-radius: 50px;
  height: min-content;
  font-size: 0.75em;
  font-weight: 600;
}
header {
  display: flex;
  justify-content: center;
  background-color: #fef7e2;
  position: sticky;
  top: 0;
}

li img {
  width: 2rem;
}

#shop {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 1.3em;
  font-size: 1em;
}

/* main */
h1,
h2 {
  margin: 0.5em 0.5em;
}
#products {
  margin: 2em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

h1,
h2,
p,
h6,
h4 {
  color: #843711;
}
h1 {
  font-size: 2.5em;
}

/* card */
.card {
  background-color: #fbf7e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  border-radius: 40px;
  padding-bottom: 1em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
}

.card img {
  width: 16em;
  object-fit: cover;
  border-radius: 40px 40px 0 0;
}
h6 {
  margin: 0 0 0 0;
  font-size: 1em;
}
p {
  margin: 0 0 0 0;
  font-size: 0.8em;
}
.text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1em;
}

.card button {
  width: max-content;
  margin: auto;
  background-color: #ffdf80;
  color: #843711;
  padding: 0.5em 1.8em;
  border: none;
  border-radius: 30px;
  font-size: 0.75em;
  font-weight: 600;
}
/* latest news */
h2 {
  font-size: 1.8em;
}

#article {
  margin-inline: 1em;
  background-color: #fef7e2;
  border-radius: 20px;
  padding: 1.4em;
}
#article h4 {
  font-size: 1.3em;
  margin: 1em 0;
}
#article p {
  font-size: 1em;
}
#article-text {
  margin: 1em 0;
}
#article-img img {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  #article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  #article-img img {
    width: 40em;
  }
  #article-text {
    margin-inline: 1.5em;
  }
}
