@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
  background-color: gray;
  font-family: "Gloria Hallelujah", cursive;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

#container {
  background-color: gray;
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.yellow {
  background: linear-gradient(#f7f7c6, #969677);
  transform: rotate(-7deg);
  
}
.green {
  background: linear-gradient(#c5f2c6, #79977a);
  transform: rotate(5deg);
}
.violet {
  background: linear-gradient(#c8c5f0, #73728b);
  transform: rotate(3deg);
}

.postit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1px;
  width: 15em;
  height: 15em;
  box-shadow: 3px 9px 10px rgba(0, 0, 0, 0.45);

  transition: transform 1s;
}

.postit:hover {
    transform: scale(1.4);
    z-index: 1;
  
}







