.text-center {
    text-align: center;
}
/* ho creato una classe per allineare i testi e le immagini al centro */

/* header */

header img {
    background-color: #222f3f;
    padding: 0.5em;
    width: 8em;
}
/* impostazioni del logo */

header div {
    background-color: #222f3f;
    padding:0.2em 1em;

}

header nav {
    background-color: #364759;
    
    padding: 0.5em 1.5em;
}
header nav a {
    text-decoration: none;
    color: #f3fcfe;
    padding: 0 0.5em;
    font-family: Helvetica;
    font-size: 0.92em;
}
/* impostazioni del menu */

/* div all */

#all {
    padding: 2em;
    background-color: #e9edee;
    
}
/* ho aggiunto il padding e cambiato il colore dello sfondo */


/* gift card section */ 

div #giftcards {
    background-color: #f46600;
    padding: 0.5em 0;
    color: white;
    font-family: helvetica;
    font-size: 0.90em;
}


/* gift guide section */

#giftguides {
    margin: 2em 0;
    text-align: center;
}

#giftGuideText {
    background-image: url("../images/bg-image.png");
    padding: 1.5em 0;
    font-size: 1.7em;
    font-family: helvetica;
    font-weight: 550;
    color: white;
    
}
/* ho inserito l'immagine di sfondo su css e non html per ricreare la ripetizione presente nella mockup */

#giftGuideText h3, h5 {
    margin: 1em 0;
}

#giftGuideText h5 {
    font-size: 0.6em;
 
}
/* section text */


section span {
    font-family: helvetica;
    font-size: 1.18em;
}
section a {
    text-decoration: none;
    color: #206b7d;
    font-family: helvetica;
    font-weight: 600;
    font-size: 0.85em;
    margin-left: 1em;
}



/* sec1 */
#firstsec {
    background-color: white;
    padding-bottom: 1em;
}

#firstsec #text {
    padding: 1em 1.4em;
}



#products {
    
    margin: 0.5em 0;
    text-align: center;
}

#products img {
    height:21em;
    width: 16em;
    margin: 0 1.3em;
    object-fit: cover;
    border-radius: 1em;
    box-shadow:0.2em 0.1em 1em -0.3em;
}
/* ho utilizzato object-fit per non distorcere l'immagine, 
border radius per arrotondare gli angoli 
e box-shadow per aggiungere l'ombra */


/* sec2 */
.imagesec {
    margin: 2em 0;
}
.imagesec img {
    max-width: 100%;
    
}
/* ho utilizzato una classe per le due immagini dato che sono molto simili */

.imagesec #text2, #text3 {
    text-align: center;
    margin-top: 0.5em;
}

/* footer */

footer {
    text-align: center;
}

footer a {
    font-family: helvetica;
    font-weight: 600;
    font-size: 0.85em;
    color: white;
    background-color: #364759;
    
    
}
footer #intlink {
    background-color: #364759;
    padding:1em 0;
}










footer img {
    background-color: #222f3f;
    padding: 0.5em;
    width: 10em;
    
}

footer div {
    background-color: #222f3f;
    padding:3em 1em;
    text-align: center;

}